{%extends 'base.html'%}
{%load static %}

<!-- This is displayed as a welcome page -->
{%block content%}
	<section class="feature">
		<div class="feature-content">
			<h1>Todo</h1>
			<p>Todo helps you more focus, either work or play.</p>	
			<a class="btn btn-primary cta" href="{% url 'register' %}">Get Started</a>
            <a class="btn btn-primary cta" href="{% url 'login' %}">Login</a>
		</div>
		<img src="{%static 'images/feature.jpg'%}" alt="" class="feature-image">
	</section>
{%endblock content%}